= simple_form_for(@source) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: t("label_name")
    = f.input :url, label: t("label_url")
    = f.input :tagslist, label: t("label_tags"), value: @source.tagslist

  .form-actions
    = f.button :submit
