= simple_form_for(@source) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: l("words.name")
    = f.input :url, label: l("words.url")
    = f.input :tagslist, label: l("words.tag", count: 2), value: @source.tagslist

  .form-actions
    = f.button :submit, class: "btn btn-primary"
