= simple_form_for(@source, remote: true, html: { class: "dyn-form" }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: l("words.name")
    = f.input :url, label: l("words.url")
    = f.input :tagslist_attr, label: l("words.tag", count: 2), input_html: { value: Tag.list, default_values: @source.tagslist }

  .form-actions
    = f.button :submit, class: "btn btn-primary load"
    = image_tag "loading.gif", class: "loading-icon"

:javascript
  $(document).ready(handle_selectize);
