%h1#page-title= t("words.source", count: 2)

%table.table.table-striped.table-hover.table-responsive
  %thead
    %tr
      %th= t("words.name")
      %th= t("words.url")
      %th= t("words.tag", count: 2)
      %th= t("words.last_update")
      %th
      %th
      %th

  %tbody
    - @sources.each do |source|
      %tr
        %td= source.name
        %td= source.url
        %td= source.tagslist
        %td= source.last_update == Time.at(0) ? t("words.never") : I18n.localize(source.last_update, format: :long)
        %td
          = link_to update_source_path(source), class: "btn btn-info dyn-content update_btn" do
            %i.fa.fa-refresh
        %td
          = link_to edit_source_path(source), class: "btn btn-warning dyn-modal" do
            %i.fa.fa-edit
        %td
          = link_to source, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger dyn-delete" do
            %i.fa.fa-trash

= link_to new_source_path, class: "btn btn-primary dyn-modal" do
  %i.fa.fa-plus

#opml-btn
  = link_to sources_url(format: :opml), download: "feeds.opml", class: "btn btn-primary", id: "export-btn" do
    %i.fa.fa-download
    = t("words.export")
  = link_to new_opml_uploader_url, class: "btn btn-primary dyn-modal", id: "import-btn" do
    %i.fa.fa-upload
    = t("words.import")

  :javascript
    $(document).ready(sources_js);
