%h1#page-title= t("words.source", count: 2)

%table.table.table-striped.table-hover.table-responsive
  %thead
    %tr
      %th= t("words.name")
      %th= t("words.url")
      %th= t("words.tag", count: 2)
      %th= t("words.last_update")
      %th
      %th
      %th

  %tbody
    - @sources.each do |source|
      %tr
        %td= source.name
        %td= source.url
        %td= source.tagslist
        %td= source.last_update
        %td
          = link_to update_source_path(source), class: "btn btn-info dyn-content" do
            %i.fa.fa-refresh#update_btn
        %td
          = link_to edit_source_path(source), class: "btn btn-warning dyn-modal selectize" do
            %i.fa.fa-edit
        %td
          = link_to source, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger dyn-delete" do
            %i.fa.fa-trash

= link_to new_source_path, class: "btn btn-primary dyn-modal selectize" do
  %i.fa.fa-plus
