%p#notice= notice

%p
  %b Name:
  = @source.name
%p
  %b Url:
  = @source.url
%p
  %b Tags:
  = @source.tagslist

= link_to "Update", "#{source_url}/update_entries"
\|
= link_to 'Edit', edit_source_path(@source)
\|
= link_to 'Back', sources_path

%hr

= render "entries/entries", entries: @source.entries
