%table.table.table-striped.table-hover.table-responsive
  %thead
    %tr
      %th= t("words.title")
      %th= t("words.url")
      %th= t("words.read")
      %th= t("words.fav")
      %th= t("words.tag", count: 2)
      %th

  %tbody
    - entries.reverse.each do |entry|
      %tr{ class: "#{entry.source.tagslist.gsub(',', ' ')}" }
        %td= entry.title
        %td= entry.url
        %td= entry.read
        %td= entry.fav
        %td= entry.source.tagslist
        %td= link_to '', entry, class: "btn btn-info glyphicon glyphicon-eye-open"
