%table.table.table-striped.table-hover.table-responsive
  %thead
    %tr
      %th Title
      %th Url
      %th Read
      %th Fav
      %th Tags
      %th

  %tbody
    - entries.reverse.each do |entry|
      %tr{ class: "#{entry.source.tagslist.gsub(',', '.')}" }
        %td= entry.title
        %td= entry.url
        %td= entry.read
        %td= entry.fav
        %td= entry.source.tagslist
        %td= link_to '', entry, class: "btn btn-info glyphicon glyphicon-eye-open"
