%table.table.table-striped.table-hover.table-responsive
  %thead
    %tr
      %th= t("words.title").capitalize
      %th= t("words.url").upcase
      %th= t("words.read").capitalize
      %th= t("words.fav").capitalize
      %th= t("words.tag", count: 2).capitalize
      %th

  %tbody
    - entries.reverse.each do |entry|
      %tr{ class: "#{entry.source.tagslist.gsub(',', '.')}" }
        %td= entry.title
        %td= entry.url
        %td= entry.read
        %td= entry.fav
        %td= entry.source.tagslist
        %td= link_to '', entry, class: "btn btn-info glyphicon glyphicon-eye-open"
