.panel-group#accord
  - entries.reverse.each do |e|
    - collapse_id = "#{e.id}"
    %div{ class: "panel panel-default #{e.source.tagslist.gsub(',', ' ')}" }
      .panel-heading
        %a{ data: { toggle: "collapse", parent: "#accord" }, href: "##{collapse_id}" }
          = e.source.name
          \|
          = e.title
        %div.tags
          = e.source.tagslist
        %div.date
          = I18n.localize(e.date, format: :long)
      %div{ class: "panel-collapse collapse", id: collapse_id }
        .panel-body

:javascript
  $(document).ready(function() {
    handle_collapses();
  });
