%h1#page-title
  = t('words.entry', count: 2)
  - unless @filter.nil?
    %small (#{@filter})
    = link_to t('words.clear'), entries_path, class: 'btn btn-xs btn-danger dyn-content', id: 'clear-filters-btn'

%hr

- if @entries.empty?
  = I18n.translate('messages.no_entries')
- else
  = render 'entries', entries: @entries
  = render 'load_more_div', filter: @filter, filter_type: @filter_type
