%h1#page-title
  = t("words.entry", count: 2)
  - unless @filter.nil?
    = "(#{@filter})"
    = link_to "clear", entries_path, class: "btn btn-small btn-default dyn-content"

%hr

- unless @entries.empty?
  = render "entries", entries: @entries, filter: @filter, filter_type: @filter_type
- else
  = I18n.translate("messages.no_entries")
