%h1
  = t("words.entry", count: 2)
  - unless @filter.nil?
    = "(#{@filter})"

%hr

- unless @entries.empty?
  = render "entries", entries: @entries
- else
  = I18n.translate("messages.no_entries")
