%h1#page-title
  = t("words.entry", count: 2)
  - unless @filter.nil?
    %small= "(#{@filter})"
    = link_to "clear", entries_path, class: "btn btn-xs btn-danger dyn-content", id: "clear-filters-btn"

%hr

- unless @entries.empty?
  = render "entries", entries: @entries, filter: @filter, filter_type: @filter_type
- else
  = I18n.translate("messages.no_entries")
