= simple_form_for(@tag, remote: true, html: { class: "dyn-form" }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: l("words.name")
    = f.input :color, label: l("words.color"), input_html: { value: @tag.color || "#ffffff" }

  .form-actions
    = f.button :submit, class: "btn btn-primary"
