%h1 Listing tags

%table.table.table-striped.table-hover.table-responsive
  %thead
    %tr
      %th Name
      %th Color
      %th
      %th
      %th

  %tbody
    - @tags.each do |tag|
      %tr
        %td= tag.name
        %td= tag.color
        %td= link_to '', tag, class: "btn btn-info glyphicon glyphicon-eye-open"
        %td= link_to '', edit_tag_path(tag), class: "btn btn-info btn-warning glyphicon glyphicon-edit"
        %td= link_to '', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-trash"

= link_to '', new_tag_path, class: "btn btn-primary glyphicon glyphicon-plus"
