%p
  %b= l("words.name")
  = @tag.name
%p
  %b= l("words.color")
  = @tag.color

= link_to t("words.edit"), edit_tag_path(@tag), class: "btn btn-warning"
= link_to t("words.back"), tags_path, class: "btn btn-default"
