.panel-group#accord#entries
  - entries.each do |e|
    - collapse_id = "#{e.id}"
    %div{ class: "panel panel-default entry #{e.source.tagslist.gsub(',', ' ')}", date: e.date.strftime("%Y-%m-%d %H:%M:%S") }
      .panel-heading
        %a{href: "##{collapse_id}", class: "feedtitle", data: { toggle: "collapse", parent: "#accord" }}
          = e.source.name
          \|
          = e.title
        %div.tags
          = e.source.tagslist.gsub(",", ", ")
        %div.right
          = link_to t("words.open").downcase, e.url, class: "small", target: "_blank"
          .small= I18n.localize(e.date, format: :long)
      %div{ class: "panel-collapse collapse", id: collapse_id }
        .panel-body

#load-more-div
  %button{href: entries_path, class: "btn btn-default", id: "load-more-btn"}= t("words.show_more")
  %a#totop= t("words.back_top")
  = image_tag "loading.gif", class: "loading-icon"


:javascript
  $(document).ready(entries_js);
