.panel-group#accord#entries
  - entries.each do |e|
    - collapse_id = e.id
    .panel.panel-default.entry{ date: e.date.strftime('%Y-%m-%d %H:%M:%S') }
      .panel-heading
        %a.feedtitle{ href: "##{collapse_id}", data: { toggle: 'collapse', parent: '#accord' } }
          = image_tag e.source.favicon, class: 'favicon', atl: e.source.name, title: e.source.name
          \|
          = e.title
        .tags
          = e.source.tagslist.gsub(',', ', ')
        .right
          = link_to t('words.open').downcase, e.url, class: 'small', target: '_blank'
          .small= I18n.localize(e.date, format: :long)
      .panel-collapse.collapse{ id: collapse_id }
        .panel-body

:javascript
  $(document).ready(entriesJs);
