%nav.navbar.navbar-inverse.navbar-fixed-top#sidebar-wrapper{role: "navigation"}
  %ul.nav.sidebar-nav
    %li.sidebar-brand
      %a{href: root_url} MANA
    %li= link_to t("words.entry", count: 2), entries_path, class: "dyn"

    %li.drowdown
      %a{href: "#", class: "dropdown-toggle", data: { toggle: "dropdown" }}
        Sources
        %span.glyphicon.glyphicon-menu-down
      %ul.dropdown-menu{role: "menu"}
        %li.dropdown-header= t("sidebar.source_filtering")
        - Source.all.each do |s|
          %li= link_to s.name, source_url(s), class: "dyn"
        %li
          %a.dyn{href: sources_path, style: "display: inline-block"}
            %span.glyphicon.glyphicon-edit
          %a.dyn{href: new_source_path, style: "display: inline-block"}
            %span.glyphicon.glyphicon-plus

    %li.dropdown
      %a{href: "#", class: "dropdown-toggle", data: { toggle: "dropdown" }}
        Tags
        %span.glyphicon.glyphicon-menu-down
      %ul.dropdown-menu{role: "menu"}
        %li.dropdown-header= t("sidebar.tag_filtering")
        - Tag.all.each do |t|
          %li= link_to t.name, entries_path(tags: t.name), class: "dyn"
        %li
          %a.dyn{href: tags_path, style: "display: inline-block"}
            %span.glyphicon.glyphicon-edit
          %a.dyn{href: new_tag_path, style: "display: inline-block"}
            %span.glyphicon.glyphicon-plus

  %ul.nav.sidebar-bottom
    %li
      %a.glyphicon.glyphicon-pushpin#pin{href: "#"}

:javascript
  $(document).ready(function() {
    $("#pin").click(function() {
      if($("#pin").hasClass("pinned")) {
        unpin();
      }
      else {
        pin();
      }
    });
  });
