!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MANAWeb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body
    = render "navbar"
    #wrapper
      #sidebar-wrapper
        = render "sidebar"
      #page-content-wrapper
        .container-fluid
          #page-content
            = render "notice"
            = yield

:javascript
  $(document).ready(function() {
    $("a.dyn").click(function() {
      $.get($(this).attr("href"), function(result) {
        $result = $(result);
        $("#page-content").html($result.find("#page-content"));
        $result.find("script").appendTo("body");
      });
      return false;
    });
  });
