!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MANAWeb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body
    = render "navbar"
    #wrapper
      #sidebar-wrapper
        = render "sidebar"
      #sidebar-wrapper-right
        = render "sidebarright"
      #page-content-wrapper
        .container-fluid
          #page-content
            = render "notice"
            = yield
          #page-modal.modal.fade{role: "dialog"}
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  %a.close{data: { dismiss: "modal"}} &times
                  %h4.modal-title#page-modal-title
                .modal-body#page-modal-content

:javascript
  $(document).ready(set_listeners);
