!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MANAWeb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body
    -#= render "navbar"
    #wrapper
      .overlay
      = render "sidebar"
      #page-content-wrapper
        %button.hamburger.is-closed.animated.fadeInleft{type: "button", data: {toggle: "offcanvas"}}
          %span.hamb-top
          %span.hamb-middle
          %span.hamb-bottom
        .container-fluid
          #page-content
            = render "notice"
            = yield

:javascript
  $(document).ready(function() {
    $("a.dyn").click(function() {
        $("#page-content").load($(this).attr("href")+" #page-content");
        return false;
    });
    handle_hamburger();
  });
